.add-todos {
    margin: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.buttons {
    display: flex;
    justify-content: center;
    align-items: center;
}

.icons {    
    display: grid;
    justify-items: center;
    align-items: center;    
    grid-template-columns: repeat(5, 1fr);
    gap: 1rem;
}

.rename {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem;
}

#file {
    display: none;
}

.icons label, a {
    height: 40px;
    width: 40px;
    font: 400 1.8rem Verdana, sans-serif;
    border-radius: 3px;
    cursor: pointer;
    color: black;    
    display: flex;
    justify-content: center;
    align-items: center;
}

.icons label, a {
    background-color: rgb(76, 167, 197);
    transition: .4s;
}

.icons label:hover, a:hover {
    opacity: 0.6;
}