body {
    background-color: #232526;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.page-header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f2f5f6;
    height: 100px;
}

.input {
    border: 0;
    border-left: 2px solid black;
    height: 40px;
    width: 300px;
    margin-right: 1rem;
    text-align: center;
    outline: none;
    background-color: #f2f5f6;
}

.btn {
    cursor: pointer;
    border: 0;
    color: #fff;
    height: 40px;
    width: 120px;
    font-size: 1rem;
    margin: 0 0.6rem;
    transition: .4s;
}

.container #add:hover {
    background-color: rgb(41, 154, 11, 0.6);
}

.list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
}

.list p {
    width: 90vw;
    height: 40px;
    display: grid;
    grid-template-columns: 8fr 1fr 1fr;
    align-items: center;
    border-left: 4px solid rgb(14, 15, 4);
    background-color: #f2f5f6;
    margin-bottom: 1.4rem;
    font-size: 1.2rem;
}

.save {
    background-color: #299a0b;
}

.save:hover {
    background-color: rgb(41, 154, 11, 0.6);
}

.update {
    background-color: #167edf;
}

.update:hover {
    background-color: rgb(22, 126, 223, 0.6);
}

.delete {
    background-color: #eb2e15;
}

.delete:hover {
    background-color: rgb(235, 46, 21, 0.6);
}

.dark {
    background-color: #232526;
    margin-left: 3rem;
}

.dark:hover {
    background-color: rgba(36, 26, 25, 0.6);
}

.dark-mode-header {
    background-color: #232526;
}

.dark-mode-body {
    background-color: #414345;
}

.dark-mode-list>p {
    background-color: #232526;
    color: #fff;
}